<a href="https://colab.research.google.com/github/idarapatrick/USA-Real-Estate-Price-Prediction/blob/main/RealEstate.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

House Prediction Analysis

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
#load csv file
data = pd.read_csv("/content/realtor-data.zip.csv")

#first few rows of dataset
data_head = data.head()

#view the first few rows
print(data_head)

     status  bed  bath  acre_lot        city        state  zip_code  \
0  for_sale  3.0   2.0      0.12    Adjuntas  Puerto Rico     601.0
1  for_sale  4.0   2.0      0.08    Adjuntas  Puerto Rico     601.0
2  for_sale  2.0   1.0      0.15  Juana Diaz  Puerto Rico     795.0
3  for_sale  4.0   2.0      0.10       Ponce  Puerto Rico     731.0
4  for_sale  6.0   2.0      0.05    Mayaguez  Puerto Rico     680.0

   house_size prev_sold_date     price
0       920.0            NaN  105000.0
1      1527.0            NaN   80000.0
2       748.0            NaN   67000.0
3      1800.0            NaN  145000.0
4         NaN            NaN   65000.0

In [7]:
#view the last few rows
data_tail = data.tail()
print(data_tail)

          status  bed  bath  acre_lot         city          state  zip_code  \
108283  for_sale  4.0   4.0      1.15      Maynard  Massachusetts    1754.0
108284  for_sale  5.0   4.0      0.77   Chelmsford  Massachusetts    1824.0
108285  for_sale  3.0   3.0       NaN  Marlborough  Massachusetts    1752.0
108286  for_sale  3.0   2.0      0.28       Lowell  Massachusetts    1851.0
108287  for_sale  3.0   2.0      0.40  Westborough  Massachusetts       1.0

        house_size prev_sold_date     price
108283      4256.0            NaN  799000.0
108284      2996.0     2000-10-20  749900.0
108285      1821.0     2019-06-27  529900.0
108286      1400.0     1999-05-25  574900.0
108287         NaN            NaN       NaN

In [13]:
#check for empty values
null_values = data.drop_duplicates()

#checking for empty values
print(data.isnull().sum())

status                0
bed               25487
bath              25479
acre_lot          16414
city                 52
state                 0
zip_code            195
house_size        25400
prev_sold_date    75636
price                 1
dtype: int64

In [16]:
data_cleaned = data.dropna()  # Drops rows with any null values

print(data_cleaned.tail())  # Check the new shape to see how many rows were dropped

          status  bed  bath  acre_lot        city          state  zip_code  \
108279  for_sale  3.0   3.0      3.88      Bolton  Massachusetts    1740.0
108281  for_sale  1.0   1.0      0.11     Clinton  Massachusetts    1510.0
108282  for_sale  5.0   4.0      0.42  Framingham  Massachusetts    1701.0
108284  for_sale  5.0   4.0      0.77  Chelmsford  Massachusetts    1824.0
108286  for_sale  3.0   2.0      0.28      Lowell  Massachusetts    1851.0

        house_size prev_sold_date     price
108279      3921.0     2000-07-07  799000.0
108281       574.0     2019-09-17  105000.0
108282      4279.0     2000-01-18  899900.0
108284      2996.0     2000-10-20  749900.0
108286      1400.0     1999-05-25  574900.0